gunicorn
vizro-ai==0.3.6 # temprarory pin before the Pycafe/pyodide can accept Pydantic 2.7.4 and above (currently only 2.7.0 is supported)
vizro==0.1.37
black
openpyxl
langchain_anthropic
langchain_mistralai
