.ag-theme-alpine.vizro {
  --ag-background-color: var(--main-container-bg-color); /* confirmed */
  --ag-foreground-color: var(--text-primary); /* confirmed */
  --ag-odd-row-background-color: var(--main-container-bg-color); /* confirmed */
  --ag-header-background-color: var(--main-container-bg-color); /* confirmed */
  --ag-header-column-resize-handle-display: none; /* confirmed */
  --ag-borders: none; /* confirmed */
  --ag-icon-font-family: agGridBalham; /* confirmed, but hardly visible */
  --ag-icon-size: 14px; /* confirmed */
  --ag-row-height: 48px; /* This determines the row height, but not header */
}
/* General setting header row*/
#page-container .ag-theme-alpine .ag-header-row {
  color: var(--text-secondary);
  font-weight: normal;
  font-size: 14px;
  height: 40px; /* this is not overwritten but has no effect */
}

/* Border at the bottom and padding*/
#page-container .ag-theme-alpine .ag-header-cell {
  border-bottom: 1px solid var(--border-subtle-alpha-02);
  padding-left: 0px;
  padding-right: 12px;
}
/*Border at bottom when hovering more solid*/
#page-container .ag-theme-alpine .ag-header-cell:hover {
  border-bottom: 1px solid var(--border-hover);
}
/*Border bolder when clicking on header, text now primary color*/
#page-container .ag-theme-alpine .ag-header-cell:focus {
  border-bottom: 1px solid var(--border-selected);
  color: var(--text-primary);
}

#page-container .ag-theme-alpine .ag-row {
  border-bottom: 1px solid var(--border-subtle-alpha-02);
  /*height: 48px; !* This does not seem to set it to 48px due to element style *!*/
}
#page-container .ag-theme-alpine .ag-cell {
  /*display: flex;*/ /*This breaks AGGrid side right alignment of numerical columns*/
  align-items: center;
  padding-left: 0px;
  padding-right: 12px;
  font-size: 14px;
}
/* Changes header on click, this has the advantage of not remaining when cell is not sorted, but still "clicked" */
/* Ie after clicking a third time, it should probably go back to the initial state*/
/* However the line appearing is not in extended enough*/
/* Alternative currently used: .ag-header-cell:focus*/
/*#page-container .ag-theme-alpine .ag-header-cell-sorted-asc,*/
/*#page-container .ag-theme-alpine .ag-header-cell-sorted-desc {*/
/*    border-bottom: 1px solid var(--border-selected);*/
/*    color: var(--text-primary);*/
/*}*/
