.nav_card_container,
.card_container {
  background-color: var(--surfaces-bg-card);
  box-shadow: var(--box-shadow-elevation-card);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  position: relative;
}

.nav_card_container {
  height: 98%;
  margin-top: 4px;
  position: relative;
}

.nav_card_container:hover {
  background-color: var(--field-enabled);
  box-shadow: var(--box-shadow-elevation-card-hover);
  top: -8px;
}

.card-link {
  color: transparent;
  display: contents;
  height: 100%;
  left: 0;
  padding: var(--spacing-04);
  position: absolute;
  top: 0;
  width: 100%;
}

.card_text {
  height: 100%;
  padding: var(--spacing-04);
  width: 100%;
}

.card_text h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: var(--spacing-02);
}
