.nav-card,
.card {
  background-color: var(--surfaces-bg-card);
  border: none;
  border-radius: 0;
  box-shadow: var(--box-shadow-elevation-card);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.nav-card:hover {
  background-color: var(--field-enabled);
  box-shadow: var(--box-shadow-elevation-card-hover);
  transform: translate3d(0, -8px, 0);
  transition:
    transform 0.3s,
    box-shadow 0.2s;
  will-change: transform;
}

.card-link {
  color: transparent;
  display: flex;
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}

.card_text {
  height: 100%;
  padding: var(--spacing-04);
  width: 100%;
}

.card_text h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: var(--spacing-02);
}
