/* DROPDOWN  ------------------------------------------------------------ */
.dash-dropdown {
  background: var(--bs-primary-bg-subtle);
  border: 0;
  border-radius: var(--bs-border-radius);
  box-shadow: var(--bs-box-shadow-sm);
}

.dash-dropdown-search-container {
  background: var(--bs-primary-bg-subtle);
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.dash-dropdown-search-container:focus-within {
  border-color: var(--bs-focus-ring-color);
}

.dash-dropdown-value > * {
  align-items: center;
  background: var(--text-primary-inverted);
  box-shadow: var(--bs-box-shadow);
  color: var(--bs-primary);
  display: inline-flex;
  font-size: 14px;
  height: 24px;
  padding: 4px 8px;
}

.dash-dropdown-content {
  background: var(--bs-primary-bg-subtle);
  border: 0;
  border-radius: var(--bs-border-radius);
  box-shadow: var(--bs-box-shadow-sm);
  padding-bottom: 4px;
}


/* Need to use this wrapper dash-options-list-option-wrapper */
.dash-options-list-option-checkbox {
  border-radius: var(--bs-border-radius);

  /* accent-color: var(--bs-primary-bg-subtle); */
}

.dash-options-list-option-text {
  color: var(--bs-body-color);
}

/* Hide commas */
.dash-dropdown-value-item:not(:first-child)::before {
  content: none;
}

.dash-dropdown-value-count {
  background: var(--text-primary-inverted);
  padding: 4px 8px;
}

.dash-dropdown-clear {
  height: 8px;
  width: 8px;
}

.dash-dropdown-trigger {
  padding: 0 8px;
}

.dash-dropdown-option {
  height: 32px;
  padding: 6px 8px;
}

.dash-dropdown-actions {
    border-bottom: 1px solid var(--bs-border-color);
    display: flex;
    gap: 16px;
    padding: 8px;
}

/* SLIDER / RANGE SLIDER  ------------------------------------------------------------ */
.dash-slider-track {
  height: 2px;
}

.dash-input-container {
  background: none;
  border: none;
  color: var(--bs-primary);
  text-decoration: underline;
  text-decoration-color: var(--bs-border-color-translucent);
}

.dash-slider-thumb {
  background-color: var(--text-primary-inverted);
  border-color: var(--bs-primary);
  border-width: 4px;
  height: 12px;
  width: 12px;
}

.dash-slider-mark-outside-selection {
  color: var(--bs-body-color);
}
