/* To reset all heights coming from our parent containers otherwise there will be sizing issues.
 We only target .card as a direct child of .flex-item so that a card in a grid in a flex behaves like a card
 in a grid rather than like a card in a flex. Similar selectors for .figure-container and .table-container
 are not so easy to write since they are never direct children of .flex-item.
 */
.flex-item, .flex-item .figure-container, .flex-item > .card {
  height: unset;
  width: unset;
}

/* A height needs to be set for the parent container of the AgGrid, otherwise it's not visible inside a flex layout.
Specifications are taken from default height/width of Plotly charts. */
.flex-item .table-container {
  height: 450px;
  width: 700px;
}
