/* To reset all heights coming from our parent containers otherwise there will be sizing issues.
 We only target .card as a direct child of .flex-item so that a card in a grid in a flex behaves like a card
 in a grid rather than like a card in a flex. Similar selectors for .figure-container and .table-container
 are not so easy to write since they are never direct children of .flex-item.
 */
.grid-item > .card {
  height: calc(100% - 8px);
  width: calc(100% - 8px);
}

.loading-container, .figure-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
}

.grid-item > .loading-container {
  height: 100%;
  width: 100%;
}

.flex-item .table-container, .grid-item .flex-item .table-container  {
  height: 450px;
  width: 700px;
}

/* stylelint-disable-next-line no-descending-specificity */
.grid-item .table-container, .flex-item .grid-item .table-container {
  height: 100%;
  width: 100%;
}
