img[src*="floating-right"] {
  float: right;
}

img[src*="floating-left"] {
  float: left;
}

img[src*="floating-center"] {
  display: block;
  float: none;
  height: auto;
  margin: auto;
  max-width: 100%;
}

img[src*="icon-top"] {
  filter: var(--fill-icon-image-card);
  height: 36px;
  width: 36px;
}
