.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#settings {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

#left-main {
  align-items: flex-start;
  border-right: 1px solid var(--bs-border-color);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.5rem;
  overflow: auto;
  padding: 24px 24px 0;
  width: 324px;
}

#left-side {
  background-color: var(--left-side-bg);
  display: flex;
  flex-direction: row;
  height: 100%;
}

#right-side {
  background: var(--right-side-bg);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  overflow: auto;
  padding: 24px;
  width: 100%;
}

#right-header {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  height: 32px;
  justify-content: space-between;
}

#page-header {
  align-items: center;
  background-color: var(--left-side-bg);
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  min-height: 0;
  padding: 0 24px;
  width: 100%;
}

#page-header:not(:empty) {
  border-bottom: 1px solid var(--border-subtleAlpha01);
}

#page-components {
  overflow: auto;
}

.grid-layout {
  display: grid;
  height: 100%;
  width: 100%;
}

#nav-panel {
  margin-top: -4px;
  width: 100%;
}

#control-panel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}

#control-panel:not(:empty) {
  border-bottom: 1px solid var(--border-subtleAlpha01);
}

.dashboard_title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#left-sidebar {
  border-right: 1px solid var(--bs-border-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 64px;
}

#dashboard-container div[hidden] {
  display: none;
}

#page-main {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  height: calc(100vh - 64px);
}

#dashboard-title,
#page-title {
  margin: 0;
}

#logo,
#logo-light,
#logo-dark {
  height: 100%;
}

#logo-dark,
#logo-light {
  display: none;
}

[data-bs-theme="dark"] #logo-dark {
  display: inline;
}

[data-bs-theme="light"] #logo-light {
  display: inline;
}

#logo-and-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 100%;
}

#collapse-icon.material-symbols-outlined {
  background-color: var(--left-side-bg);
  border: 1px solid var(--border-subtleAlpha01);
  border-radius: 50%;
  color: var(--text-disabled);
  cursor: pointer;
  position: absolute;
}

#collapse-icon.material-symbols-outlined:hover {
  color: var(--text-primaryHover);
}

.collapse-icon-div {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  width: 0;
}

/*
Note: This is a temporary quick-fix to improve the mobile layout experience.
In the long run, we should refactor our CSS and component structure to support proper responsive design.

Current logic:
1. Applies a flex layout with column direction to:
   - Extra-small, small, and medium screen widths (≤ 768px)
   - Large screen widths (≤ 1028px) *only when* the collapsible left panel is open

2. Applies a zoom-out effect for very small screen widths and heights (≤ 576px)
*/

/* Apply flex layout for screens smaller than 768px */
@media screen and (width <= 768px) {
  .grid-layout {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

/* Apply flex layout for screens up to 1028px if collapsible-left-side is shown */
@media screen and (width <= 1028px) {
  #page-main:has(#collapsable-left-side.show) .grid-layout {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

/* Apply zoom-out on small screen sizes */
@media screen and (width <= 576px), screen and (height <= 576px) {
  .collapse-icon-div {
    padding-top: 20px;
  }

  #page-header,
  #left-side,
  #right-side {
    zoom: 80%;
  }
}

/* Hide Loading... text on loading page */
._dash-loading {
  display: none;
}
