.selector_body_checklist,
.selector_body_radio_items {
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  font-size: var(--text-size-02);
  gap: var(--spacing-01);
  letter-spacing: var(--letter-spacing-body-ui-02);
  line-height: var(--text-size-03);
}

/* TODO: Consolidate gaps between all the containers. Check latest Figma design. */
/* Eventually remove the need for all the different containers afterwards. */
.selector_container,
.selector_dropdown_container,
.input-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-05);
  width: 100%;
}

.selector_dropdown_container {
  gap: var(--spacing-04);
}

.input-container {
  gap: var(--spacing-02);
}
