.rc-slider {
  flex: auto;
  margin: 4px -12px 0;
}

.rc-slider-rail,
.rc-slider-track {
  background-color: var(--hover-bg-subtle);
  height: 2px;
}

.rc-slider-track {
  background-color: var(--bs-primary);
}

.rc-slider-dot {
  background-color: var(--hover-bg-subtle);
  border: none;
  bottom: 0;
  height: 6px;
  width: 6px;
}

.rc-slider-dot-active {
  background-color: var(--bs-primary);
}

.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging,
.rc-slider-handle-click-focused:focus {
  background-color: var(--bs-secondary-bg);
  border: solid 6px var(--bs-primary);
  border-color: var(--bs-primary);
  border-radius: 100%;
  height: 16px;
  margin: -8px 0 0;
  position: absolute;
  width: 16px;
}

.rc-slider-handle:hover,
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border: solid 4px var(--bs-primary);
  box-shadow: unset;
  cursor: context-menu;
}

.rc-slider-handle-click-focused:focus {
  box-shadow: unset;
}

.rc-slider-handle:active {
  border: solid 6px var(--bs-primary);
  box-shadow: unset;
  cursor: grabbing;
  height: 16px;
  margin-top: -8px;
  width: 16px;
}

.rc-slider-mark-text {
  color: var(--bs-body-color);
  font-size: 0.75rem;
  line-height: 0.875rem;
  margin-top: 0.25rem;
  min-width: 44px;
}

.rc-slider-mark-text-active {
  color: var(--bs-primary);
}

.slider-track-with-marks,
.slider-track-without-marks {
  align-items: center;
  display: flex;
  height: 32px;
  margin: 0;
  min-width: 160px;
  width: 100%;
}

.slider-track-without-marks {
  padding: 4px 24px !important;
}

.slider-track-with-marks {
  padding: 4px 24px 24px !important;
}

input.dash-input:invalid {
  outline: none;
}

/* Slider Label + Input Container ---------------------- */
.slider-label-input {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
}

.slider-label-input label {
  width: 100%;
}

/* Slider Text Input ---------------------- */
.slider-text-input-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  line-height: 1rem;
  margin-bottom: 0.75rem;
}

.slider-text-input-field {
  background-color: transparent;
  border: 0;
  color: var(--bs-body-color);
  font-size: 0.875rem;
  max-width: 80px; /* required for Mozilla */
  padding: 0;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--bs-border-color);
}

.slider-text-input-range-separator {
  color: var(--bs-body-color);
  font-size: 0.875rem;
}

/* To remove number input spin box */
.slider-text-input-container input[type="number"]::-webkit-outer-spin-button,
.slider-text-input-container input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.slider-text-input-container input[type="number"] {
  appearance: textfield;
}
