.table-container,
.dash-graph {
  flex: 1 1 auto;
  overflow: auto;
  width: 100%;
}


.dash-graph {
  /* Plotly graphs require their parent element to be visible and to have both width and height explicitly defined.
     If the parent does not have a defined height, the graph may not render or size correctly.
     This min-height ensures the graph is displayed even when the parent lacks an explicit height.
     TODO: Consider increasing min-height if graphs are not sufficiently visible.
  */
  min-height: 250px;
}

.figure-title,
.figure-header,
.figure-footer {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  gap: 8px;
}

.figure-footer {
  padding-top: 0.75rem;
}

.figure-footer a {
  font-size: inherit;
}

/* Improve footnote of plotly maps */
.maplibregl-ctrl {
  display: flex;
}

/* Fixes flickering scroll-bar when using new plotly maps: https://github.com/mckinsey/vizro/pull/984 */
.js-plotly-plot {
  overflow: hidden;
}
