.tooltip-icon {
  color: var(--bs-body-color);
  cursor: pointer;
  font-size: 20px;
}

.tooltip-icon:hover {
  color: var(--bs-primary-text-emphasis);
}

.tooltip-inner  {
  max-width: 400px;
}

.tooltip-inner * {
  color: var(--text-primary-inverted);
}

.tooltip-inner p {
  margin-bottom: 0.5rem;
}

.tooltip-inner a:hover {
  color: var(--text-primaryHover-inverted);
}

.form-label, .btn {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.btn .tooltip-icon, .form-label .tooltip-icon {
  color: inherit;
  font-size: 1rem;
}

.form-label .tooltip-icon:hover {
  color: var(--bs-primary);
}

.btn-link {
  text-decoration: none;
}

.btn-link .btn-text {
  text-decoration: underline;
}

#dashboard-title, #page-title, .form-label {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

#dashboard-title .tooltip-icon {
  font-size: 24px;
}
