
# npm node_modules
node_modules/

# Ipynb
ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# macOS
*.DS_Store
.DS_Store
.AppleDouble
.LSOverride
.Trashes

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# mkdocs
vizro-core/site
vizro-ai/site

# PyBuilder
.pybuilder/
target/

# IntelliJ
.idea/
*.iml
out/
.idea_modules/

# Vscode
.vscode/
.cursor/

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# Mkdocs
/site

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Cython
cython_debug/

# Ruff
.ruff_cache/

# Ignore data files
*.csv
*.xls
*.xlsx
*.parquet
*.tsv
*.hdf5
*.h5
*.pickle
*.pkl
*.db
*.sqlite
*.sqlite3
*.orc
