repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-json
        exclude: "devcontainer.json" # Contains comments.
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: check-datafiles
        name: check-datafiles
        entry: python tools/check_for_datafiles.py
        language: python
        pass_filenames: false

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        description: Linter for json, yaml, md, css and more
        entry: prettier --write --ignore-unknown
        language: node
        "types": [text]
        additional_dependencies: ["prettier@3.3.3"]

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: [-c, pyproject.toml, -ll]
        additional_dependencies: ["bandit[toml]"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    # Upgrade to v1.11.1 not possible as it doesn't seem compatible with pydantic<2 plugin.
    # Similar issue with previous v.1.11.X versions: https://github.com/pydantic/pydantic/issues/10000
    # We need to revert the changes from the pre-commit autoupdate for now.
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^vizro-core/src/
        additional_dependencies:
          # Deliberately pinned to <2 until we bump our pydantic requirement to strictly >=2.
          # pydantic>=1.10.15 includes this fix which flags some genuine type problems. These will take a while to fix
          # or ignore so for now we just pin to 1.10.14 which doesn't flag the problems.
          # https://github.com/pydantic/pydantic/pull/8765
          - pydantic==1.10.14

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: "0.0.2"
    hooks:
      - id: stylelint
        additional_dependencies:
          - stylelint@16.2.1
          - stylelint-config-standard@36.0.0
          - stylelint-order@4.1.0
        args: ["--fix"]

  - repo: https://github.com/errata-ai/vale
    rev: v3.8.0
    hooks:
      - id: vale
        args: [--config=.vale/.vale.ini]
        # There's no way to automatically convert vale suggestions/warnings to errors, and so they won't appear at all unless
        # there's an error raised.
        # pre-commit's verbose mode means that suggestions and warnings are always shown even if there's no error raised.
        # See https://github.com/errata-ai/vale/issues/575.
        verbose: true

# Configuration for https://pre-commit.ci/.
ci:
  autoupdate_schedule: monthly
  # Skip all hooks that just do checks without actually fixing anything.
  skip:
    - check-added-large-files
    - check-merge-conflict
    - check-case-conflict
    - check-yaml
    - check-json
    - check-datafiles
    - codespell
    - bandit
    - mypy
    - vale
