repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-json
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: check-datafiles
        name: check-datafiles
        entry: python tools/check_for_datafiles.py
        language: python
        pass_filenames: false
      - id: check-forbidden-words
        name: check-forbidden-words
        entry: tools/find_forbidden_words_in_repo.sh
        language: script
        pass_filenames: false
      - id: check-branch-name
        name: check-branch-name
        entry: tools/check_branch_name.sh
        language: script
        pass_filenames: false

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  # Linter for json, yaml, md, css and more
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.13.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        args: [-c, pyproject.toml, -ll]
        additional_dependencies: ["bandit[toml]"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        files: ^vizro-core/src/
        additional_dependencies:
          # Deliberately pinned to <2 until we bump our pydantic requirement to strictly >=2.
          # pydantic>=1.10.15 includes this fix which flags some genuine type problems. These will take a while to fix
          # or ignore so for now we just pin to 1.10.14 which doesn't flag the problems.
          # https://github.com/pydantic/pydantic/pull/8765
          - pydantic==1.10.14

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        name: gitleaks (protect)
        description: Detect hardcoded secrets using Gitleaks
        entry: gitleaks protect --verbose --staged
        language: golang
      - id: gitleaks
        name: gitleaks (detect)
        description: Detect hardcoded secrets using Gitleaks
        entry: gitleaks detect --verbose --baseline-path gitleaks-report.json
        language: golang

  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: "0.0.2"
    hooks:
      - id: stylelint
        additional_dependencies:
          - stylelint@16.2.1
          - stylelint-config-standard@36.0.0
          - stylelint-order@4.1.0
        args: ["--fix"]

  - repo: https://github.com/errata-ai/vale
    rev: v3.4.2
    hooks:
      - id: vale
        args: [--config=.vale/.vale.ini]

# Configuration for https://pre-commit.ci/.
ci:
  autoupdate_schedule: monthly
  # Skip all hooks that just do checks without actually fixing anything.
  skip:
    - check-added-large-files
    - check-merge-conflict
    - check-case-conflict
    - check-yaml
    - check-json
    - check-datafiles
    - check-forbidden-words
    - check-branch-name
    - codespell
    - bandit
    - mypy
    - gitleaks
    - vale
