{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-order"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "selector-class-pattern": null,
    "custom-property-pattern": null,
    "color-function-notation": "legacy",
    "alpha-value-notation": "number",
    "color-hex-length": "long",
    "selector-not-notation": null,
    "declaration-property-value-no-unknown": true
  }
}
