pandas
tabulate
openai>=1.0.0
langchain>=0.1.0, <0.3.0
langchain-openai
python-dotenv>=1.0.0
vizro>=0.1.4
ipython>=8.10.0
urllib3>=2.0.7
aiohttp>=3.9.2
langchain-community>=0.0.27
langchain-core>=0.1.31
