.kpi-card-ref > span {
  display: flex;
  font-weight: 600;
  gap: 4px;
}

.kpi-card-ref .up {
  color: #1a85ff;
}

.kpi-card-ref .down {
  color: #d41159;
}

.kpi-card-icon {
  border-left: 4px solid var(--text-secondary);
}

.kpi-card-icon .material-symbols-outlined,
.kpi-card-ref div .material-symbols-outlined {
  line-height: 28px;
}

.kpi-card-icon > div,
.kpi-card-ref > div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
}

.kpi-card-icon > p,
.kpi-card-ref > p {
  align-items: center;
  color: var(--text-secondary);
  display: flex;
  flex-grow: 1;
  font-size: 16px;
  font-size: 5vh;
  font-weight: 600;
  line-height: unset;
}

/* CSS for temporary solutions */
#kpi-total {
  border-left: 4px solid var(--text-primary);
  padding-left: 12px;
}
