#page-header {
  padding-left: 8px;
}

img[src*="#chart-icon"] {
  width: 100%;
}

.code-clipboard {
  font-size: 20px;
  position: absolute;
  right: 14px;
  top: 12px;
}

code.language-python.hljs {
  padding: 0;
}

.hljs {
  background: unset;
  color: unset;
  font-family: unset;
}

.hljs-string {
  color: var(--text-code-string);
  font-family: unset;
}

.hljs-keyword {
  color: var(--text-code-keyword);
  font-family: unset;
}

.html-intro {
  border-left: 4px solid var(--text-secondary);
  color: var(--text-secondary);
  padding: 12px;
}

.flex-container .card {
  height: 208px;
  width: 176px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-container h4 {
  color: var(--text-secondary);
  margin: 0;
  padding-top: 12px;
  text-align: center;
}

.intro-text {
  border-left: 4px solid var(--text-secondary);
  padding: 12px;
}

.intro-text p {
  font-size: 16px;
  line-height: 20px;
}

#left-main {
  width: 288px;
}
