.kpi-card-reference > span {
  display: flex;
  font-weight: 600;
  gap: 4px;
}

.kpi-card-reference .delta-pos {
  color: #1a85ff;
}

.kpi-card-reference .delta-neg {
  color: #d41159;
}

.kpi-card {
  border-left: 4px solid var(--text-secondary);
}

.kpi-card .material-symbols-outlined,
.kpi-card-reference div .material-symbols-outlined {
  line-height: 28px;
}

.kpi-card > div,
.kpi-card-reference > div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
}

.kpi-card > p,
.kpi-card-reference > p {
  align-items: center;
  color: var(--text-secondary);
  display: flex;
  flex-grow: 1;
  font-size: 16px;
  font-size: 5vh;
  font-weight: 600;
  line-height: unset;
}

.kpi-card-reference:has(.delta-pos) {
  border-left: 4px solid #1a85ff;
}

.kpi-card-reference:has(.delta-neg) {
  border-left: 4px solid #d41159;
}

/* CSS for temporary solutions */
#kpi-total {
  border-left: 4px solid var(--text-primary);
  padding-left: 12px;
}
