#page-header {
  padding-left: 8px;
}

#my-figure {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.figure-container .card {
  height: 210px;
  width: 240px;
}

.figure-container {
  height: unset;
  width: unset;
}
