site_name: Vizro-MCP
site_url: https://vizro.readthedocs.io/projects/vizro-mcp
nav:
  - Vizro-MCP: index.md
  - Get started:
      - First dashboard tutorial: pages/tutorials/first-dashboard-tutorial.md
      - Use Claude Desktop: pages/guides/set-up-vizro-mcp-with-claude.md
      - Use Cursor: pages/guides/set-up-vizro-mcp-with-cursor.md
      - Use VS Code: pages/guides/set-up-vizro-mcp-with-vscode.md
      - Use any MCP host: pages/guides/set-up-vizro-mcp-basics.md
  - Tutorials:
      - Claude Desktop and Vizro-MCP: pages/tutorials/claude-desktop-tutorial.md
      - Cursor and Vizro-MCP: pages/tutorials/cursor-tutorial.md
  - How-to guides:
      - Use prompt templates: pages/guides/use-prompt-templates.md
      - Create only charts: pages/guides/create-charts-only.md
      - Use local or remote data: pages/guides/use-data.md
      - Get a live preview: pages/guides/get-live-preview.md
  - Explanation:
      - FAQs: pages/explanation/faqs.md
      - Contribute: pages/explanation/contribute.md
      - Disclaimers: pages/explanation/disclaimers.md
  - API reference: pages/API-reference/API-reference.md
  - Vizro: https://vizro.readthedocs.io
  - Vizro-AI: https://vizro.readthedocs.io/projects/vizro-ai/

#  This infers the version number of the latest release of whole repo, so we're hiding it for sub-packed in extra.css
repo_url: https://github.com/mckinsey/vizro/tree/main/vizro-mcp
repo_name: mckinsey/vizro-mcp

theme:
  name: material
  language: en
  palette:
    - scheme: default
  font:
    text: Google sans
    code: Source Code Pro
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.tracking
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.code.annotate

watch:
  - src

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: python
          class: "highlight"
          validator: !!python/name:mkdocs_pycafe.validator
          format: !!python/object/apply:mkdocs_pycafe.formatter
            kwds:
              type: vizro
              requirements: |
                vizro==0.1.46
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.mark
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false #currently doesn't show source at correct level, and not for pydantic models
            docstring_style: google
            merge_init_into_class: true
            docstring_section_style: list
            separate_signature: true
            #   filters: ["!^_"]
            show_root_heading: true
            docstring_options:
              ignore_init_summary: true
              warn_unknown_params: false
          paths: [src]
  - git-revision-date-localized:
      enable_creation_date: false
  - glightbox:
      manual: true

extra_css:
  - stylesheets/extra.css

# Strictest settings possible, and will be elevated to ERROR when run with --strict.
# See https://www.mkdocs.org/user-guide/configuration/#validation.
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn
