img[src*="#my-image"] {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px 25px;
}

.anchor-1, .anchor-2, .anchor-3 {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.anchor-2 {
  left: 124px;
}

.anchor-3 {
  left: 204px;
}
