img[src*="#my-image"] {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px 25px;
}

.affix-button {
  background: blue;
  color: white;
  font-size: 20px;
  font-weight: var(--text-weight-semibold);
  height: 32px;
  padding: var(--spacing-01) var(--spacing-03);
}
