img[src*="#my-image"] {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px 25px;
}

.affix-button {
  background: var(--field-dark-mode-enabled);
  border-left: 4px solid dodgerblue;
  font-size: 14px;
  font-weight: var(--text-weight-semibold);
  padding: var(--spacing-01) var(--spacing-03);
}

.anchor-text {
  color: white;
}
