# Core dependencies
#-e ../../../vizro_chat
vizro-chat

# SQL Agent dependencies
langchain>=0.1.0
langchain-community>=0.0.13
langchain-core>=0.1.10
langchain-openai>=0.0.2.post1
langgraph>=0.0.20
langsmith>=0.0.77
pydantic>=2.0.0
requests>=2.31.0
