/* Guidelines for CSS variables

--bs-body-bg: Applied to main content area (right-side)
--bs-tertiary-bg: Applied to side navigation (Applied to navbar, sidebar and header)
--bs-primary-bg-subtle: Applied to dropdown fill, cards fill, form inputs fill color
--bs-highlight-bg: Applied to hover effects (hover effect on e.g. dropdown, form inputs, navigation links)
--bs-focus-ring-color: Applied to focus effects (focus effect on e.g. dropdown, form inputs, navigation links)
--bs-card-bg: Applied to cards (cards fill color)
--bs-dropdown-bg: Applied to dropdown on left-side (dropdown bg color)

Currently not applied, but we could use it + any component specific bg colors:
--bs-secondary-bg
--bs-secondary-bg-subtle
--bs-success-bg-subtle
--bs-info-bg-subtle
--bs-warning-bg-subtle
--bs-danger-bg-subtle
--bs-light-bg-subtle
--bs-dark-bg-subtle
*/

#logo-dark, #logo-light {
    height: 30px;
}

/* Change HEX codes below to apply different colors */
[data-bs-theme="dark"] {
    --bs-body-bg: #141721; /* QBDS: --surface-bg-accent */
    --bs-tertiary-bg: #181b26; /* QBDS: --surface-bg-primary */
    --bs-primary-bg-subtle: #272a35; /* QBDS: --fill-onsurface-ui-3  */
    --bs-highlight-bg: #ffffff14; /* QBDS: --stateslayer-overlay-hover */
    --bs-focus-ring-color: #00a9f4; /* QBDS: --brand-accent */
    --bs-card-bg: var(--bs-primary-bg-subtle);
    --bs-dropdown-bg: var(--bs-primary-bg-subtle); /* Dropdown bg on left-side */
  }

[data-bs-theme="light"] {
    --bs-body-bg: #ffffff;
    --bs-tertiary-bg: #F5F6F6;
    --bs-primary-bg-subtle: #f5f6f6;
    --bs-highlight-bg: #14172114;
    --bs-focus-ring-color: #00a9f4;
    --bs-card-bg: var(--bs-primary-bg-subtle);
    --bs-dropdown-bg: var(--bs-body-bg); /* Dropdown bg on left-side */
}

/* Dropdown bg on right-side */
#right-side .dash-dropdown {
    background: var(--bs-primary-bg-subtle);
}

#right-side .dash-dropdown-content {
    background: var(--bs-primary-bg-subtle);
}
