/* Custom CSS  */
#logo-dark, #logo-light {
    height: 30px;
}

#page-header {
    display: none;
}

/* Does a filled container need a border? */
.bg-container {
    border: 1px solid var(--bs-border-color);
}
