#page-header {
  padding-left: 8px;
}

/*TODO: Check why overwrites are needed on native dbc component*/
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding-bottom: 16px;
}

.container-title {
  margin: 8px 0;
}

.bg-container {
  background: var(--surfaces-bg-card);
}
