/* Custom CSS  */
.header-right-content #nav-bar {
  border-right: none !important;
  display: flex;
  flex-direction: row !important;
  max-width: 1200px;
  padding: 0;
}


.navbar {
  min-height: 0 !important;
}

.nav_header {
  background-color: var(--left-side-bg);
  border-bottom: 1px solid var(--bs-border-color);
  display: flex;
  height: 60px;
  justify-content: space-between;
  min-height: 0;
  width: 100%;
}

.navbar .nav-link {
  width: fit-content !important;
}
