/* Custom CSS  */
#logo-dark, #logo-light {
    height: 30px;
}

#page-header {
    display: none;
}


[data-bs-theme="dark"] {
    --bs-body-bg: #141721; /* QBDS: --surface-bg-accent, applied to main content area */
    --bs-tertiary-bg: #181b26; /* QBDS: --surface-bg-primary, applied to side navigation */
    --bs-primary-bg-subtle: #272a35; /* QBDS: --fill-onsurface-ui-3, used for fill colors */
    --bs-highlight-bg: #ffffff14; /* QBDS: --stateslayer-overlay-hover */
    --bs-focus-ring-color: #00a9f4; /* QBDS: --brand-accent */
    --bs-card-bg: var(--bs-primary-bg-subtle);
    --bs-dropdown-bg: var(--bs-primary-bg-subtle);
  }

  [data-bs-theme="light"] {
    --bs-body-bg: #ffffff; /* QBDS: --surface-primary , applied to main content area */
    --bs-tertiary-bg: #F5F6F6; /* QBDS: --surface-accent , applied to side navigation */
    --bs-primary-bg-subtle: #f5f6f6; /* QBDS: --fill-onsurface-ui-3, used for fill colors */
    --bs-highlight-bg: #14172114; /* QBDS: --stateslayer-overlay-hover */
    --bs-focus-ring-color: #00a9f4; /* QBDS: --brand-accent */
    --bs-card-bg: var(--bs-primary-bg-subtle);
    --bs-dropdown-bg: var(--bs-body-bg);
  }

  /* NEW QBDS - take over to bootstrap */
  .form-control {
    box-shadow: none;
  }

  .form-control:focus, .form-control.focus, .input-group-text:focus, .input-group-text.focus {
    background-color: var(--bs-body-bg);
  }

  .form-control:hover:not(:focus), .form-control.hover:not(:focus), .input-group-text:hover:not(:focus), .input-group-text.hover:not(:focus) {
    background-color: var(--bs-highlight-bg);
  }

  .card {
    background-color: var(--bs-card-bg);
  }

  .accordion-item .nav-link:active, .accordion-item .nav-link.active {
    background: var(--bs-highlight-bg);
}

.accordion-item .nav-link:hover, .accordion-item .nav-link.hover {
    background: var(--bs-highlight-bg);
}


.dash-dropdown {
    background: var(--bs-dropdown-bg);
}

.dash-dropdown-content {
    background: var(--bs-dropdown-bg);
}

.dash-dropdown:focus, .dash-dropdown.focus {
    box-shadow: 0 0 0 1px var(--bs-focus-ring-color) inset;
}

.dropdown-plain:focus, .dropdown-plain.focus {
    border-bottom: 1px solid var(--bs-focus-ring-color);
    box-shadow: none;
}

#right-side .dash-dropdown {
    background: var(--bs-primary-bg-subtle);
}

#right-side .dash-dropdown-content {
    background: var(--bs-primary-bg-subtle);
}
