{% extends "_base/class.html.jinja" %}

{% block contents %}
  {% block bases %}{{ super() }}{% endblock %}
  {% block docstring %}{{ super() }}{% endblock %}

  {% block schema scoped %}
    {% if class.extra.griffe_pydantic.schema %}
      <details><summary>Show JSON schema:</summary>
        {{ class.extra.griffe_pydantic.schema | highlight(language="json") }}
      </details>
    {% endif %}
  {% endblock schema %}

  {% block config scoped %}
    {% if class.extra.griffe_pydantic.config %}
      <p>Config:</p>
      <ul>
        {% for name, value in class.extra.griffe_pydantic.config.items() %}
          <li><code>{{ name }}</code>: {{ value|string|highlight(language="python", inline=True) }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endblock config %}

{% block fields scoped %}
  {% with fields = class.extra.griffe_pydantic._stored_fields or class.extra.griffe_pydantic.fields() %}
      {% if fields %}
        <p><strong>Fields:</strong></p>
        <table class="pydantic-field-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            {% for name, field in fields.items() %}
              <tr class="doc-section-item">
                <td><code><autoref optional hover identifier="{{ field.path }}">{{ name }}</autoref></code></td>
                <td>{% with expression = field.annotation %}<code>{% include "expression.html.jinja" with context %}</code>{% endwith %}</td>
                <td>
                  {% if field.docstring %}
                    <div class="doc-md-description">
                      {% with autoref_hook = AutorefsHook(field, config) %}
                        {{ field.docstring.value|convert_markdown(heading_level, field.path, autoref_hook=autoref_hook) }}
                      {% endwith %}
                    </div>
                  {% endif %}
                </td>
                <td>
                  {% if field.extra.vizro_pydantic and field.extra.vizro_pydantic.default_display is not none %}
                    <code>{{ field.extra.vizro_pydantic.default_display }}</code>
                  {% elif field.extra.vizro_pydantic and field.extra.vizro_pydantic.required %}
                    <em>required</em>
                  {% elif field.value is not none %}
                    {{ field.value|string|highlight(language="python", inline=True) }}
                  {% else %}
                    <em>required</em>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endwith %}
  {% endblock fields %}

{% block validators scoped %}
  {# Validators are intentionally not displayed in API docs #}
{% endblock validators %}

  {% block source %}{{ super() }}{% endblock %}
  {% block children %}{{ super() }}{% endblock %}
{% endblock contents %}
