#header {
  padding-left: 4px;
}

img[src*="#chart-icon"] {
  width: 100%;
}

/* PyCafe Link Button Icon */
.material-symbols-outlined .open-in-new {
  font-size: inherit;
  margin-left: 4px;
}


.code-clipboard-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flex-item h4 {
  color: var(--bs-body-color);
  margin: 0;
  padding-top: 12px;
  text-align: center;
}

.flex-item .card {
  height: 232px;
  margin: 0 0 auto;
  opacity: 0.3;
  width: 176px;
}

.flex-item .card-nav {
  opacity: 1;
}

.flex-item .card img {
  width: 100%;
}

.intro-text {
  border-left: 4px solid var(--bs-secondary);
  padding: 4px 12px;
}

.intro-text h4 {
  color: var(--bs-body-color);
  margin: 0;
}

.intro-text p {
  font-size: 12px;
  margin: 0;
}

.intro-text ul:last-of-type {
  margin-bottom: 0;
}

.anchor-container {
  align-items: center;
  background: var(--bs-primary);
  border-top-left-radius: 8px;
  bottom: 0;
  color: var(--text-primary-inverted) !important;
  display: flex;
  font-size: 0.8rem;
  font-weight: 500;
  height: 24px;
  padding: 0 12px;
  position: fixed;
  right: 0;
}

.anchor-container:focus,
.anchor-container:hover {
  background: var(--bs-secondary);
  color: var(--text-primary-inverted);
}

img#banner {
  height: 16px;
}

.mantine-CodeHighlight-controls {
  background: transparent;
}
