site_name: Vizro
site_url: https://mckinsey.github.io/vizro/
nav:
  - Vizro: index.md
  - Get started:
      - Quickstart: pages/tutorials/first-dashboard.md
      - Explore Vizro: pages/tutorials/explore-components.md
  - User Guides:
      - FUNDAMENTALS:
          - Install: pages/user-guides/install.md
          - Dashboards: pages/user-guides/dashboard.md
          - Pages: pages/user-guides/pages.md
          - Run Methods: pages/user-guides/run.md
      - COMPONENTS:
          - Overview: pages/user-guides/components.md
          - Graphs: pages/user-guides/graph.md
          - AGGrids: pages/user-guides/aggrid.md
          - Tables: pages/user-guides/table.md
          - Cards & Buttons: pages/user-guides/card-button.md
          - Containers: pages/user-guides/container.md
          - Tabs: pages/user-guides/tabs.md
      - CONTROLS:
          - Filters: pages/user-guides/filters.md
          - Parameters: pages/user-guides/parameters.md
          - Selectors: pages/user-guides/selectors.md
      - NAVIGATION:
          - Navigation: pages/user-guides/navigation.md
      - VISUAL FORMATTING:
          - Layouts: pages/user-guides/layouts.md
          - Themes: pages/user-guides/themes.md
          - Assets: pages/user-guides/assets.md
      - ACTIONS:
          - Actions: pages/user-guides/actions.md
      - DATA CONNECTIONS:
          - Data: pages/user-guides/data.md
          - Integrations: pages/user-guides/integration.md
      - EXTENSIONS:
          - Custom Charts: pages/user-guides/custom-charts.md
          - Custom AGGrids/Tables: pages/user-guides/custom-tables.md
          - Custom Components: pages/user-guides/custom-components.md
          - Custom Actions: pages/user-guides/custom-actions.md
  - API Reference:
      - Vizro: pages/API-reference/vizro.md
      - Models: pages/API-reference/models.md
      - Data Manager: pages/API-reference/manager.md
      - Actions: pages/API-reference/actions.md
  - Explanation:
      - Why Vizro: pages/explanation/why-vizro.md
  - Contribute:
      - Contributing: pages/development/contributing.md
      - Authors: pages/development/authors.md

repo_url: https://github.com/mckinsey/vizro
repo_name: mckinsey/vizro

theme:
  name: material
  language: en
  palette:
    - scheme: default
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.tracking
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.code.annotate

watch:
  - src

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.mark
  - md_in_html
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false #currently doesn't show source at correct level, and not for pydantic models
            docstring_style: google
            merge_init_into_class: true
            docstring_section_style: list
            separate_signature: true
            #   filters: ["!^_"]
            show_root_heading: true
            docstring_options:
              ignore_init_summary: true
          paths: [src]
  - git-revision-date-localized:
      enable_creation_date: false

extra_css:
  - stylesheets/extra.css
