[build-system]
build-backend = "hatchling.build"
requires = ["hatchling"]

[project]
authors = [
  {name = "Vizro Team"}
]
classifiers = [
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12"
]
dependencies = [
  "dash>=2.17.1",  # 2.17.1 needed for no_output fix in clientside_callback
  "dash_bootstrap_components",
  "dash-ag-grid>=31.0.0",
  "pandas",
  "pydantic>=1.10.13",  # must be synced with pre-commit mypy hook manually
  "dash_mantine_components<0.13.0",  # 0.13.0 is not compatible with 0.12,
  "flask_caching>=2",
  "wrapt>=1",
  "numpy>=1.22.2",  # not directly required, pinned by Snyk to avoid a vulnerability: https://security.snyk.io/vuln/SNYK-PYTHON-NUMPY-2321970
  "setuptools>=65.5.1",  # not directly required, pinned by Snyk to avoid a vulnerability: https://security.snyk.io/vuln/SNYK-PYTHON-SETUPTOOLS-3180412
  "werkzeug>=3.0.1"  # not directly required, pinned by Snyk to avoid a vulnerability: https://security.snyk.io/vuln/SNYK-PYTHON-WERKZEUG-6035177
]
description = "Vizro is a package to facilitate visual analytics."
dynamic = ["version"]
license-files = {paths = ["LICENSE.txt"]}
name = "vizro"
readme = "README.md"
requires-python = ">=3.8"

[project.optional-dependencies]
kedro = [
  "kedro>=0.17.3",
  "kedro-datasets",  # no longer a dependency of kedro for kedro>=0.19.2
  "wheel>=0.38.0",  # not directly required, pinned by Snyk to avoid a vulnerability: https://security.snyk.io/vuln/SNYK-PYTHON-WHEEL-3180413,
  "ipython>=8.10.0",  # not directly required, pinned by Snyk to avoid a vulnerability: https://app.snyk.io/vuln/SNYK-PYTHON-IPYTHON-3318382
  "tornado>=6.3.2"  # not directly required, pinned by Snyk to avoid a vulnerability: https://security.snyk.io/vuln/SNYK-PYTHON-TORNADO-5537286
]

[project.urls]
Documentation = "https://github.com/mckinsey/vizro#readme"
Issues = "https://github.com/mckinsey/vizro/issues"
Source = "https://github.com/mckinsey/vizro"

[tool.coverage.paths]
vizro = ["src/vizro"]  # omit tests for clarity, although this can be useful to see what test lines DID NOT run

[tool.coverage.report]
exclude_lines = [
  "no cov",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:"
]
fail_under = 92
show_missing = true
skip_covered = true

[tool.coverage.run]
branch = true
parallel = true
source_pkgs = ["vizro"]

[tool.pytest.ini_options]
addopts = [
  # Allow test files to have the same name in different directories.
  "--import-mode=importlib"
]
filterwarnings = [
  "error",
  # Ignore until pandas is made compatible with Python 3.12:
  "ignore:.*utcfromtimestamp:DeprecationWarning",
  # Ignore until pandas 3 is released:
  "ignore:(?s).*Pyarrow will become a required dependency of pandas:DeprecationWarning",
  # Ignore until plotly fixes so the warning is no longer raised:
  "ignore:When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group:FutureWarning",
  # Ignore warning when providing a custom format string to the KPI Cards:
  "ignore:Custom format string detected."
]
norecursedirs = ["tests/tests_utils", "tests/js"]
pythonpath = ["tests/tests_utils", "examples/kpi"]
