[project]
docs_dir = "docs"
extra_css = ["/stylesheets/extra.css"]
extra_javascript = ["/javascripts/extra.js"]
# Make sure any new page added here is also added to the llmstxt plugin below (around line 198)
nav = [
  {"Vizro" = "index.md"},
  {"Tutorials" = [
    {"Quickstart tutorial" = "pages/tutorials/quickstart-tutorial.md"},
    {"Explore Vizro" = "pages/tutorials/explore-components.md"},
    {"Write your own actions" = "pages/tutorials/custom-actions-tutorial.md"}
  ]},
  {"How-to guides" = [
    {"Fundamentals" = [
      {"Install Vizro" = "pages/user-guides/install.md"},
      {"Dashboard" = "pages/user-guides/dashboard.md"},
      {"Page" = "pages/user-guides/pages.md"},
      {"Run or deploy dashboards" = "pages/user-guides/run-deploy.md"}
    ]},
    {"Components" = [
      {"Overview" = "pages/user-guides/components.md"},
      {"Graph" = "pages/user-guides/graph.md"},
      {"Table" = "pages/user-guides/table.md"},
      {"Figure" = "pages/user-guides/figure.md"},
      {"Card" = "pages/user-guides/card.md"},
      {"Text" = "pages/user-guides/text.md"},
      {"Button" = "pages/user-guides/button.md"},
      {"Container" = "pages/user-guides/container.md"},
      {"Tab" = "pages/user-guides/tabs.md"}
    ]},
    {"Controls" = [
      {"Overview" = "pages/user-guides/controls.md"},
      {"Filter" = "pages/user-guides/filters.md"},
      {"Parameter" = "pages/user-guides/parameters.md"},
      {"Selector" = "pages/user-guides/selectors.md"}
    ]},
    {"Navigation" = "pages/user-guides/navigation.md"},
    {"Actions" = [
      {"Overview" = "pages/user-guides/actions.md"},
      {"Handle data" = "pages/user-guides/data-actions.md"},
      {"Graph and table interactions" = "pages/user-guides/graph-table-actions.md"}
    ]},
    {"Visual formatting" = [
      {"Overview" = "pages/user-guides/visual-formatting.md"},
      {"Layout" = "pages/user-guides/layouts.md"},
      {"Theme" = "pages/user-guides/themes.md"},
      {"Assets" = "pages/user-guides/assets.md"},
      {"Custom CSS" = "pages/user-guides/custom-css.md"}
    ]},
    {"Data" = [
      {"Overview" = "pages/user-guides/data.md"},
      {"Kedro Data Catalog" = "pages/user-guides/kedro-data-catalog.md"}
    ]},
    {"Extensions" = [
      {"Overview" = "pages/user-guides/extensions.md"},
      {"Custom actions" = "pages/user-guides/custom-actions.md"},
      {"Custom charts" = "pages/user-guides/custom-charts.md"},
      {"Custom tables" = "pages/user-guides/custom-tables.md"},
      {"Custom figures" = "pages/user-guides/custom-figures.md"},
      {"Custom components" = "pages/user-guides/custom-components.md"}
    ]}
  ]},
  {"API reference" = [
    {"Vizro" = "pages/API-reference/vizro.md"},
    {"Models" = "pages/API-reference/models.md"},
    {"Actions" = "pages/API-reference/actions.md"},
    {"Table functions" = "pages/API-reference/table-callables.md"},
    {"Figure functions" = "pages/API-reference/figure-callables.md"},
    {"Kedro integration" = "pages/API-reference/kedro-integration.md"},
    {"Deprecations" = "pages/API-reference/deprecations.md"}
  ]},
  {"Find out more" = [
    {"Technical" = [
      {"Vizro schema" = "pages/explanation/schema.md"},
      {"Actions" = "pages/explanation/actions-explanation.md"}
    ]},
    {"About Vizro" = [
      {"FAQs" = "pages/explanation/faq.md"},
      {"User examples" = "pages/explanation/your-examples.md"},
      {"Cheatsheet" = "pages/cheatsheet/cheatsheet.html"},
      {"Contribute to Vizro" = "pages/explanation/contributing.md"},
      {"Documentation style" = "pages/explanation/documentation-style-guide.md"},
      {"Authors" = "pages/explanation/authors.md"}
    ]}
  ]},
  {"Vizro-MCP" = [
    {"Vizro-MCP" = "https://vizro.readthedocs.io/projects/vizro-mcp/"}
  ]}
]
repo_name = "mckinsey/vizro"
repo_url = "https://github.com/mckinsey/vizro"
site_description = "Core Vizro documentation"
site_dir = "site"
site_name = "Vizro"
site_url = "https://vizro.readthedocs.io/en/stable"
use_directory_urls = true

[[project.extra.meta]]
content = "CYb3cxosCgsN2QDQVaSGQpMQCesqpsGQ3oTM02NtvkY"
name = "google-site-verification"

[project.markdown_extensions.admonition]

[project.markdown_extensions.attr_list]

[project.markdown_extensions.footnotes]

[project.markdown_extensions.md_in_html]

[project.markdown_extensions.pymdownx.arithmatex]
generic = true

[project.markdown_extensions.pymdownx.details]

[project.markdown_extensions.pymdownx.emoji]
emoji_generator = "zensical.extensions.emoji.to_svg"
emoji_index = "zensical.extensions.emoji.twemoji"

[project.markdown_extensions.pymdownx.highlight]
anchor_linenums = true

[project.markdown_extensions.pymdownx.inlinehilite]

[project.markdown_extensions.pymdownx.keys]

[project.markdown_extensions.pymdownx.mark]

[project.markdown_extensions.pymdownx.snippets]

[project.markdown_extensions.pymdownx.superfences]

[[project.markdown_extensions.pymdownx.superfences.custom_fences]]
class = "mermaid"
format = "pymdownx.superfences.fence_code_format"
name = "mermaid"

[[project.markdown_extensions.pymdownx.superfences.custom_fences]]
class = "highlight"
format = "mkdocs_pycafe.formatter"
kwds = {type = "vizro", requirements = "vizro==0.1.49"}
name = "python"
validator = "mkdocs_pycafe.validator"

[project.markdown_extensions.pymdownx.tabbed]
alternate_style = true

[project.plugins.autorefs]

[project.plugins.git-revision-date-localized]
enable_creation_date = false

[project.plugins.llmstxt]  # https://pypi.org/project/mkdocs-llmstxt/
base_url = "https://vizro.readthedocs.io/en/0.1.49/"
full_output = "llms-full.txt"
markdown_description = """
Vizro is an open-source Python-based toolkit to build data visualization apps.

Every Vizro app is defined by a simple configuration, using the high-level categories
* Components (charts, tables, cards, KPI indicators, forms and more),
* Controls (filters and parameters, using a range of selectors such as drop-down menus and sliders),
* Actions (interactions between components, drill-throughs, export functionality and more),
* Layouts (grid layouts or flexible containers, with a range of pre-set styles),
* Navigation (a range of app layout and navigation settings, including nested page hierarchies).

Configuration can be written in multiple formats including Pydantic models, JSON, YAML or Python dictionaries for added flexibility of implementation.

Optional high-code extensions enable almost infinite customization in a modular way, combining the best of low-code and high-code - including bespoke visual formatting and custom components.
"""

[project.plugins.llmstxt.sections]
ACTIONS = [
  {"pages/user-guides/actions.md" = "Actions"},
  {"pages/user-guides/data-actions.md" = "Handle data"},
  {"pages/user-guides/graph-table-actions.md" = "Graph and table interactions"}
]
"ADD CONTROLS TO A DASHBOARD" = [
  {"pages/user-guides/controls.md" = "Controls overview"},
  {"pages/user-guides/filters.md" = "Filters"},
  {"pages/user-guides/parameters.md" = "Parameters"},
  {"pages/user-guides/selectors.md" = "Selectors"}
]
"DASHBOARD NAVIGATION ELEMENTS" = [
  {"pages/user-guides/navigation.md" = "Navigation"}
]
"EXTEND THE DASHBOARD WITH CUSTOMIZATIONS" = [
  {"pages/user-guides/extensions.md" = "Extensions overview"},
  {"pages/user-guides/custom-charts.md" = "Custom charts"},
  {"pages/user-guides/custom-tables.md" = "Custom tables"},
  {"pages/user-guides/custom-components.md" = "Custom components"},
  {"pages/user-guides/custom-actions.md" = "Custom actions"},
  {"pages/user-guides/custom-figures.md" = "Custom figures"}
]
"FAQS, EXAMPLES, CONTRIBUTION GUIDANCE AND THE VIZRO SCHEMA" = [
  {"pages/explanation/faq.md" = "FAQs"},
  {"pages/explanation/your-examples.md" = "Examples created by the Vizro community"},
  {"pages/explanation/contributing.md" = "How to contribute to Vizro's open source project"},
  {"pages/explanation/documentation-style-guide.md" = "Documentation style guide"},
  {"pages/explanation/schema.md" = "The Vizro schema"},
  {"pages/explanation/authors.md" = "Vizro contributor listing"}
]
"FUNDAMENTAL CONCEPTS IN VIZRO" = [
  {"pages/user-guides/install.md" = "Guide on how to install Vizro"},
  {"pages/user-guides/dashboard.md" = "Dashboard basics"},
  {"pages/user-guides/pages.md" = "Pages"},
  {"pages/user-guides/run-deploy.md" = "How to run or deploy dashboards"}
]
"HOW TO APPLY VISUAL FORMATTING" = [
  {"pages/user-guides/visual-formatting.md" = "Formatting overview"},
  {"pages/user-guides/layouts.md" = "Layouts"},
  {"pages/user-guides/themes.md" = "Themes"},
  {"pages/user-guides/assets.md" = "Assets"},
  {"pages/user-guides/custom-css.md" = "Custom CSS"}
]
"LEARN ABOUT VIZRO COMPONENTS" = [
  {"pages/user-guides/components.md" = "Components overview"},
  {"pages/user-guides/graph.md" = "Graphs"},
  {"pages/user-guides/table.md" = "Tables"},
  {"pages/user-guides/figure.md" = "Figures"},
  {"pages/user-guides/card.md" = "Cards"},
  {"pages/user-guides/text.md" = "Text"},
  {"pages/user-guides/button.md" = "Buttons"},
  {"pages/user-guides/container.md" = "Containers"},
  {"pages/user-guides/tabs.md" = "Tabs"}
]
"MANAGE DATA USED BY THE DASHBOARD" = [
  {"pages/user-guides/data.md" = "Data"},
  {"pages/user-guides/kedro-data-catalog.md" = "Kedro Data Catalog"}
]
TUTORIALS = [
  {"pages/tutorials/quickstart-tutorial.md" = "A quickstart dashboard tutorial"},
  {"pages/tutorials/explore-components.md" = "An in-depth tutorial to introduce Vizro's key features (accompanying Video is available)"}
]

# -------------------------
# mkdocs plugin
# -------------------------
[project.plugins.mkdocstrings]

[project.plugins.mkdocstrings.handlers.python]
paths = ["src"]

[project.plugins.mkdocstrings.handlers.python.options]
docstring_section_style = "list"
docstring_style = "google"
extensions = [
  {"docs/griffe_extensions.py" = {paths = ["vizro.figures.kpi_card", "vizro.figures.kpi_card_reference"]}},
  {griffe_warnings_deprecated = {kind = "danger", title = "Deprecated"}}
]
merge_init_into_class = true
separate_signature = true
show_bases = false
show_root_heading = true
show_source = false

[project.plugins.mkdocstrings.handlers.python.options.docstring_options]
ignore_init_summary = true
returns_named_value = false
warn_unknown_params = false

[project.plugins.search]

# -------------------------
[project.theme]
custom_dir = "docs/overrides"
favicon = "assets/images/favicon.png"
features = [
  "header.autohide",
  "navigation.path",
  "navigation.expand",
  "navigation.instant",
  "navigation.indexes",
  "navigation.tabs",
  "navigation.tabs.sticky",
  "navigation.tracking",
  "search.suggest",
  "search.highlight",
  "content.tabs.link",
  "content.code.annotation",
  "content.code.copy",
  "content.code.annotate"
]
language = "en"
variant = "classic"

[project.theme.font]
code = "Source Code Pro"
text = "Google sans"

[project.theme.icon]
repo = "fontawesome/brands/github"

[[project.theme.palette]]
scheme = "default"
toggle.icon = "lucide/sun"
toggle.name = "Switch to dark mode"

[[project.theme.palette]]
scheme = "slate"
toggle.icon = "lucide/moon"
toggle.name = "Switch to light mode"

# validation:
# omitted_files: warn
# absolute_links: warn
# unrecognized_links: warn
# anchors: warn
