#page-header {
  display: none;
}

.card-body {
  color: var(--text-light-mode-secondary);
}

.textbox {
  border-radius: 24px;
  font-size: var(--text-size-02);
  margin-bottom: 20px;
  max-width: 60%;
  padding: 4px 12px;
  width: max-content;
}

.user_input:focus {
  background: var(--field-enabled);
  box-shadow: 0 0 0 2px var(--focus-focus) inset;
  color: var(--text-primary);
  outline-width: 0;
}

#dashboard-text-area {
  background-color: inherit;
  border: 1px solid var(--border-subtle-alpha-01);
  color: var(--text-primary);
  height: 62vh;
  padding: 8px;
  width: 100%;
}

#code-clipboard {
  padding: 8px;
}

.code-clipboard {
  font-size: 20px;
  position: absolute;
  right: 14px;
  top: 12px;
}

.code-clipboard-container {
  background: var(--surfaces-bg-card);
  font-family: monospace;
  height: 100%;
  max-height: 670px;
  overflow: auto;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.code-clipboard-container::-webkit-scrollbar-thumb {
  border-color: var(--surfaces-bg-card);
}

#model-dropdown .Select--single .Select-value {
  background-color: inherit;
  font-size: 12px;
}

#model-dropdown .Select-control {
  background-color: inherit;
  font-size: 12px;
}

#dashboard-model-dropdown .Select-menu-outer {
  font-size: 12px;
  top: 0;
  transform: translateY(3px) translateY(-100%);
}

#dashboard-model-dropdown .dash-dropdown {
  background-color: inherit;
  font-size: 12px;
}

#trigger-button-id {
  width: 100%;
}

#dashboard-trigger-button {
  width: 100%;
}

#dashboard-container .dash-dropdown {
  background-color: inherit;
}

#model-dropdown-id .Select-clear {
  display: none;
}

#save-button-id {
  width: 50%;
}

.card:has(#upload-message-id) {
  background-color: inherit;
  box-shadow: none;
  font-size: 12px;
  overflow: hidden;
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 8px;
}

.card:has(#dashboard-upload-message-id) {
  background-color: inherit;
  box-shadow: none;
  font-size: 12px;
  overflow: hidden;
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 8px;
}

.card:has(#settings-card-id) {
  background-color: inherit;
  box-shadow: none;
  font-size: 12px;
  overflow: hidden;
  padding-bottom: 0;
  padding-left: 0;
}

.settings-div {
  display: flex;
  justify-content: end;
  padding-right: 2px;
}

#dashboard-data-upload {
  border: 1px dashed var(--border-subtle-alpha-01);
  border-radius: 5px;
  color: var(--text-primary);
  height: 100%;
  line-height: 46px;
  text-align: center;
}

#settings-api-key-toggle .form-check-input {
  border-radius: 8px;
}

#settings-api-base-toggle .form-check-input {
  border-radius: 8px;
}

#dashboard-settings-api-key-toggle .form-check-input {
  border-radius: 8px;
}

#dashboard-settings-api-base-toggle .form-check-input {
  border-radius: 8px;
}

#toggle-div-api-base,
#toggle-div-api-key {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.anchor-container {
  background: #060a17;
  bottom: 0;
  display: flex;
  font-weight: 600;
  gap: 2rem;
  padding: 4px;
  place-content: baseline center;
  position: fixed;
  width: 100%;
}

#clipboard-container {
  overflow: hidden;
}

#right-header {
  display: none;
}

.custom_header {
  align-items: center;
  border-bottom: 1px solid var(--border-subtle-alpha-01);
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  min-height: 0;
  width: 100%;
}

#right-side {
  padding-top: 0;
}

.header-logo {
  width: 48px;
}

#custom-header-div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  width: 100%;
}

#custom-header-title {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-weight: 400;
}

#data-upload {
  color: var(--text-secondary);
}

#open-settings-id:hover {
  cursor: pointer;
}

.container__title {
  font-size: 14px;
  padding-top: 4px;
}

.navlink-button {
  background: var(--fill-active);
  border: 0 solid transparent;
  box-shadow: var(--elevation-0);
  color: var(--text-primary-inverted);
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.056px;
  line-height: 16px;
  text-decoration: none;
  transition: box-shadow 0.2s;
  width: 100%;
}

#run-dashboard-navlink.nav-link {
  color: var(--text-primary-inverted);
}
