#page-header {
  padding-left: 4px;
}

.card-kpi {
  padding: 0.75rem;
  min-width: 240px;
}

.kpi-banner {
  display: flex;
  height: 100%;
  gap: 1rem;
  overflow: scroll;
}

.kpi-banner::-webkit-scrollbar-thumb {
  border: 5px solid var(--main-container-bg-color);
}
