#page-header {
  padding-left: 4px;
}

.kpi-card-compare.card {
  min-width: 168px;
  padding: 8px;
}

.kpi-card-compare h4 {
  margin: 0;
}

.kpi-card-compare > span {
  display: flex;
  font-weight: 600;
  gap: 4px;
}

.kpi-card-compare .delta-pos {
  color: #1a85ff;
}

.kpi-card-compare .delta-neg {
  color: #d41159;
}

.kpi-card-compare .material-symbols-outlined {
  font-size: 16px;
  line-height: 20px;
}

.kpi-card-compare > div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
}

.kpi-card-compare > p {
  align-items: center;
  color: var(--text-secondary);
  display: flex;
  flex-grow: 1;
  font-size: 1rem;
  font-size: 3.6vh;
  font-weight: 600;
  line-height: unset;
}

.kpi-card-compare:has(.delta-pos) {
  border-left: 4px solid #1a85ff;
}

.kpi-card-compare:has(.delta-neg) {
  border-left: 4px solid #d41159;
}

.card ul {
  margin-bottom: 0;
}

#kpi-banner .container__title {
  display: none;
}

#kpi-banner .grid-layout {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

#kpi-banner > ::-webkit-scrollbar-thumb {
  border: 6px solid;
  border-color: var(--main-container-bg-color);
}
