#page-header {
  padding-left: 4px;
}

.card-kpi {
  min-width: 220px;
  padding: 0.75rem;
}

.kpi-banner {
  display: flex;
  gap: 1rem;
  height: 100%;
  overflow: scroll;
}

.kpi-banner .figure-container {
  height: unset;
}

.kpi-banner::-webkit-scrollbar-thumb {
  border: 5px solid var(--main-container-bg-color);
}

/* Apply reverse color coding for one KPI card */
#kpi-reverse-coloring .card-kpi .color-pos.card-footer {
  color: var(--bs-pink);
}

#kpi-reverse-coloring .card-kpi .color-neg.card-footer {
  color: var(--bs-blue);
}

#kpi-reverse-coloring .card-kpi:has(.color-pos) {
  border-left: 4px solid var(--bs-pink);
}

#kpi-reverse-coloring .card-kpi:has(.color-neg) {
  border-left: 4px solid var(--bs-blue);
}
