name: checks-vizro-ai
defaults:
  run:
    working-directory: vizro-ai

on:
  push:
    branches: [main]
    paths:
      - "vizro-ai/**"
  pull_request:
    branches:
      - "main"
    paths:
      - "vizro-ai/**"

concurrency:
  group: checks-ai-${{ github.head_ref }}

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"
  PYTHON_VERSION: "3.9"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: ${{ github.event_name == 'pull_request' && 2 || 0 }}

      - name: Set up Python $PYTHON_VERSION
        uses: actions/setup-python@v4
        with:
          python-version: $PYTHON_VERSION

      - name: Install Hatch
        run: pip install --upgrade hatch

      - name: List dependencies
        run: hatch run all.py$PYTHON_VERSION:pip freeze

      - name: Check requirements for Snyk are up to date
        run: hatch run all.py$PYTHON_VERSION:update-snyk-requirements --check

      - name: Find added changelog fragments
        id: added-files
        run: |
          if ${{ github.event_name == 'pull_request' }}; then
              echo "added_files=$(git diff --name-only --diff-filter=A -r HEAD^1 HEAD -- changelog.d/*.md | xargs)" >> $GITHUB_OUTPUT
          else
              echo "added_files=$(git diff --name-only --diff-filter=A ${{ github.event.before }} ${{ github.event.after }} -- changelog.d/*.md | xargs)" >> $GITHUB_OUTPUT
          fi

      - name: Fail if no fragment added in PR
        run: |
          if [ -z "${{ steps.added-files.outputs.added_files }}" ];
          then
            echo "No changelog fragment .md file within changelog.d was detected.  Run 'hatch run changelog:add' to create such a fragment.";
            echo "If your PR contains changes that should be mentioned in the CHANGELOG in the next release, please uncomment the relevant section in your created fragment and describe the changes to the user."
            echo "If your changes are not relevant for the CHANGELOG, please save and commit the file as is."
            exit 1
          else
          echo "${{ steps.added-files.outputs.added_files }} was added - ready to go!";
          fi
