name: Docs Links Checker

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
  workflow_dispatch: # Allow for running this manually.

env:
  PYTHON_VERSION: "3.12"

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      # Remove the `click` installation constraint once the
      # https://github.com/pypa/hatch/issues/2050 is resolved.
      - name: Install Hatch
        run: pip install hatch "click<8.3.0"

      - name: Check vizro-core docs links
        working-directory: ./vizro-core
        run: |
          hatch run docs:pip tree
          hatch run docs:build
          hatch run docs:link-check

      - name: Check vizro-ai docs links
        working-directory: ./vizro-ai
        if: always()
        run: |
          hatch run docs:pip tree
          hatch run docs:build
          hatch run docs:link-check

      - name: Check vizro-mcp docs links
        working-directory: ./vizro-mcp
        if: always()
        run: |
          hatch run docs:links-in-prompts-check
          hatch run docs:pip tree
          hatch run docs:build
          hatch run docs:link-check
