name: github-repo-stats

permissions:
  contents: read

on:
  schedule:
    # Run this once per day, towards the end of the day for keeping the most
    # recent data point most meaningful (hours are interpreted in UTC).
    - cron: "0 23 * * *"
  workflow_dispatch: # Allow for running this manually.

jobs:
  github-repo-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Run GitHub repo stats
        # Use latest release.
        uses: jgehrcke/github-repo-stats@RELEASE
        with:
          ghtoken: ${{ secrets.VIZRO_SVC_PAT }}
