name: PyCafe Docs Links

permissions:
  contents: read

on:
  schedule:
    - cron: "30 10 * * 1" # run every Monday at 10:30 UTC
  workflow_dispatch: # helps to run this job manually from GitHub Actions UI

env:
  PYTHON_VERSION: "3.12"

jobs:
  create-status:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Hatch
      # Remove the `click` installation constraint once the
      # https://github.com/pypa/hatch/issues/2050 is resolved.
        run: pip install hatch "click<8.3.0"

      - name: Check PyCafe docs links in vizro-core
        working-directory: ./vizro-core
        run: hatch run docs:pycafe-links

      - name: Check PyCafe docs links in vizro-ai
        working-directory: ./vizro-ai
        if: always()
        run: hatch run docs:pycafe-links

      - name: Send custom JSON data to Slack
        # used pinned commit hash for security reasons
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        if: failure()
        with:
          payload: |
            {
              "text": "PyCafe docs links checker build result: ${{ job.status }}\nBranch: ${{ github.head_ref }}\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
