name: Integration tests for Vizro

defaults:
  run:
    working-directory: vizro-core

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main

concurrency:
  group: test-integration-vizro-core-${{ github.head_ref }}

env:
  PYTHONUNBUFFERED: 1
  FORCE_COLOR: 1

jobs:
  test-integration-vizro-core:
    name: test-integration-vizro-core on Py${{ matrix.python-version }} ${{ matrix.label }}

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.8"
            hatch-env: all.py3.8
          - python-version: "3.9"
            hatch-env: all.py3.9
          - python-version: "3.10"
            hatch-env: all.py3.10
          - python-version: "3.11"
            hatch-env: all.py3.11
          - python-version: "3.11"
            hatch-env: lower-bounds
            label: lower bounds

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        run: pip install --upgrade hatch

      - name: List dependencies
        run: hatch run ${{ matrix.hatch-env }}:pip freeze

      - name: Run integration tests
        run: hatch run ${{ matrix.hatch-env }}:test-integration
