name: e2e vizro dom elements tests for Vizro

defaults:
  run:
    working-directory: vizro-core

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main

env:
  PYTHONUNBUFFERED: 1
  FORCE_COLOR: 1
  PYTHON_VERSION: "3.12"

jobs:
  test-e2e-vizro-dom-elements:
    name: test-e2e-vizro-dom-elements on Py${{ matrix.python-version }} ${{ matrix.label }}-${{ matrix.group }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        group: [1, 2, 3]
        label: [upper bounds, lower bounds]
        include:
          - python-version: "3.12"
            hatch-env: all.py3.12
            label: upper bounds
          - python-version: "3.9"
            hatch-env: lower-bounds
            label: lower bounds

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        run: pip install hatch

      - name: Install pixelmatch
        run: sudo npm install pixelmatch -g

      - name: Show dependency tree
        run: hatch run pip tree

      - name: Run e2e vizro-dom-elements tests
        run: hatch run test-e2e-vizro-dom-elements --splits 3 --group ${{ matrix.group }}

      - name: Publish Test Report
        uses: ctrf-io/github-test-reporter@v1
        with:
          report-path: "./.ctrf/*.json"
          summary-report: true
          test-report: true
          failed-report: true
          flaky-rate-report: true
          previous-results-max: 100
          previous-results-report: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: always()

      - name: List files
        run: |
          cd /home/runner/work/vizro/vizro/
          ls -laR

      - name: Debug files
        run: |
          cd /home/runner/work/vizro/vizro/
          echo "Showing JSON files:"
          find . -name '*.json'

      - name: Upload ctrf-report
        uses: actions/upload-artifact@v4
        with:
          name: ctrf-report-${{ matrix.label }}-${{ matrix.python-version }}
          path: "./.ctrf/*.json"
        if: always()

      - name: Create artifacts and slack notifications
        if: failure()
        uses: ./.github/actions/failed-artifacts-and-slack-notifications
        env:
          TESTS_NAME: Vizro e2e vizro dom elements tests ${{ matrix.label }}-${{ matrix.python-version }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          PROJECT_PATH: /home/runner/work/vizro/vizro/vizro-core/
          FAILED_SCREENSHOTS_ARCHIVE_POSTFIX: ${{ matrix.label }}-${{ matrix.python-version }}
