name: e2e vizro dom elements tests for Vizro

defaults:
  run:
    working-directory: vizro-core

on:
  push:
    branches:
      - main
  pull_request:
    branches:

env:
  PYTHONUNBUFFERED: 1
  FORCE_COLOR: 1
  PYTHON_VERSION: "3.13"

jobs:
  test-e2e-vizro-dom-elements:
    name: test-e2e-vizro-dom-elements on Py${{ matrix.python-version }} ${{ matrix.label }}-${{ matrix.group }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        group: [1, 2, 3]
        label: [upper bounds, lower bounds]
        include:
          - python-version: "3.13"
            hatch-env: all.py3.13
            label: upper bounds
          - python-version: "3.10"
            hatch-env: lower-bounds
            label: lower bounds

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        run: pip install hatch

      - name: Install pixelmatch
        run: sudo npm install pixelmatch -g

      - name: Show dependency tree
        run: hatch run pip tree

      - name: Run e2e vizro-dom-elements tests
        run: hatch run test-e2e-vizro-dom-elements --splits 3 --group ${{ matrix.group }}

      - name: Create CTRF reports for tests
        if: always()
        uses: ./.github/actions/ctrf-report
        env:
          ARTIFACT_NAME_POSTFIX: ${{ matrix.label }}-${{ matrix.python-version }}-${{ matrix.group }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create artifacts and slack notifications
        if: failure()
        uses: ./.github/actions/failed-artifacts-and-slack-notifications
        env:
          TESTS_NAME: Vizro e2e vizro dom elements tests ${{ matrix.label }}-${{ matrix.python-version }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          PROJECT_PATH: /home/runner/work/vizro/vizro/vizro-core/
          FAILED_SCREENSHOTS_ARCHIVE_POSTFIX: ${{ matrix.label }}-${{ matrix.python-version }}-${{ matrix.group }}
