name: Integration tests for VizroAI

defaults:
  run:
    working-directory: vizro-ai

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main
    paths:
      - "vizro-ai/**"
      - "!vizro-ai/docs/**"

env:
  PYTHONUNBUFFERED: 1
  FORCE_COLOR: 1

jobs:
  test-integration-vizro-ai-fork:
    if: ${{ github.event.pull_request.head.repo.fork }}
    name: test-integration-vizro-ai on Py${{ matrix.python-version }} ${{ matrix.label }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.9"
            hatch-env: all.py3.9
          - python-version: "3.10"
            hatch-env: all.py3.10
          - python-version: "3.11"
            hatch-env: all.py3.11
          - python-version: "3.12"
            hatch-env: all.py3.12
          - python-version: "3.11"
            hatch-env: lower-bounds
            label: lower bounds
    steps:
      - uses: actions/checkout@v4

      - name: Passed fork step
        run: echo "Success!"

  test-integration-vizro-ai:
    if: ${{ ! github.event.pull_request.head.repo.fork }}
    name: test-integration-vizro-ai on Py${{ matrix.python-version }} ${{ matrix.label }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.9"
            hatch-env: all.py3.9
          - python-version: "3.10"
            hatch-env: all.py3.10
          - python-version: "3.11"
            hatch-env: all.py3.11
          - python-version: "3.12"
            hatch-env: all.py3.12
          - python-version: "3.11"
            hatch-env: lower-bounds
            label: lower bounds

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        run: pip install --upgrade hatch

      - name: List dependencies
        run: hatch run ${{ matrix.hatch-env }}:pip freeze

      - name: Run vizro-ai integration tests with pypi vizro
        run: |
          export OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}
          export OPENAI_API_BASE=${{ secrets.OPENAI_API_BASE }}
          hatch run ${{ matrix.hatch-env }}:test-integration

      - name: Run vizro-ai integration tests with local vizro
        run: |
          export OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}
          export OPENAI_API_BASE=${{ secrets.OPENAI_API_BASE }}
          cd ../vizro-core
          hatch build
          cd ../vizro-ai
          hatch run ${{ matrix.hatch-env }}:pip install ../vizro-core/dist/vizro*.tar.gz
          hatch run ${{ matrix.hatch-env }}:test-integration

      - name: Send custom JSON data to Slack
        id: slack
        uses: slackapi/slack-github-action@v1.27.0
        if: failure()
        with:
          payload: |
            {
              "text": "Vizro-ai ${{ matrix.hatch-env }} integration tests build result: ${{ job.status }}\nBranch: ${{ github.head_ref }}\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
