name: e2e vizro screenshots tests

defaults:
  run:
    working-directory: vizro-core

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:

env:
  PYTHONUNBUFFERED: 1
  FORCE_COLOR: 1
  PYTHON_VERSION: "3.13"

jobs:
  test-e2e-vizro-screenshots:
    name: test-e2e-vizro-screenshots for ${{ matrix.config.browser }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        config:
          - browser: chrome
            command: "-m 'chrome_screenshots and not mobile_screenshots'"
          - browser: chrome_mobile
            command: "-m mobile_screenshots"
          - browser: firefox
            command: "--webdriver Firefox -m 'not mobile_screenshots'"

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install Hatch
        run: pip install hatch

      - name: Install pixelmatch
        run: sudo npm install pixelmatch -g

      - name: Show dependency tree
        run: hatch run pip tree

      - name: Run e2e vizro-screenshots tests
        run: |
          export BROWSER=${{ matrix.config.browser }}
          hatch run test-e2e-vizro-screenshots ${{ matrix.config.command }}

      - name: Create CTRF reports for tests
        if: always()
        uses: ./.github/actions/ctrf-report
        env:
          ARTIFACT_NAME_POSTFIX: ${{ matrix.config.browser }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create artifacts and slack notifications
        if: failure()
        uses: ./.github/actions/failed-artifacts-and-slack-notifications
        env:
          TESTS_NAME: Vizro e2e vizro screenshots tests for ${{ matrix.config.browser }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          PROJECT_PATH: /home/runner/work/vizro/vizro/vizro-core/
          FAILED_SCREENSHOTS_ARCHIVE_POSTFIX: ${{ matrix.config.browser }}
