name: Tests for VizroAI UI

defaults:
  run:
    working-directory: vizro-ai

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main
    paths:
      - "vizro-ai/**"
      - "!vizro-ai/docs/**"

env:
  PYTHONUNBUFFERED: 1
  FORCE_COLOR: 1
  PYTHON_VERSION: "3.12"

jobs:
  test-vizro-ai-ui-fork:
    if: ${{ github.event.pull_request.head.repo.fork }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Passed fork step
        run: echo "Success!"

  test-vizro-ai-ui:
    if: ${{ ! github.event.pull_request.head.repo.fork }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Hatch
        run: pip install hatch

      - name: Install local Vizro
        run: hatch run pip install ../vizro-core

      - name: Show dependency tree
        run: hatch run pip tree

      - name: Run VizroAI UI tests
        run: hatch run test-vizro-ai-ui
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_API_BASE: ${{ secrets.OPENAI_API_BASE }}

      - name: Send custom JSON data to Slack
        id: slack
        uses: slackapi/slack-github-action@v2.1.1
        if: failure()
        with:
          payload: |
            {
              "text": "VizroAI UI tests build result: ${{ job.status }}\nBranch: ${{ github.head_ref }}\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
