name: Vizro QA tests trigger

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main

env:
  PYTHONUNBUFFERED: 1
  FORCE_COLOR: 1

jobs:
  vizro-qa-test-trigger-fork:
    if: ${{ github.event.pull_request.head.repo.fork }}
    name: Vizro QA ${{ matrix.label }} trigger
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - label: integration tests
          - label: notebooks tests
    steps:
      - name: Passed fork step
        run: echo "Success!"

  vizro-qa-tests-trigger:
    if: ${{ ! github.event.pull_request.head.repo.fork }}
    name: Vizro QA ${{ matrix.label }} trigger
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - label: integration tests
          - label: notebooks test
    steps:
      - uses: actions/checkout@v4
      - name: Tests trigger
        run: |
          export INPUT_OWNER=${{ secrets.VIZRO_QA_ORG }}
          export INPUT_REPO=${{ secrets.VIZRO_QA_REPO }}
          if [ "${{ matrix.label }}" == "integration tests" ]; then
            export INPUT_WORKFLOW_FILE_NAME=${{ secrets.VIZRO_QA_INTEGRATION_TESTS_WORKFLOW }}
          elif [ "${{ matrix.label }}" == "notebooks test" ]; then
            export INPUT_WORKFLOW_FILE_NAME=${{ secrets.VIZRO_QA_NOTEBOOKS_TESTS_WORKFLOW }}
          fi
          export INPUT_GITHUB_TOKEN=${{ secrets.VIZRO_SVC_PAT }}
          export INPUT_REF=main
          export INPUT_CLIENT_PAYLOAD='{"branch": "${{ github.head_ref }}"}'
          tools/trigger-workflow-and-wait.sh
